$font-family: "Barlow", "Arial", sans-serif;
$render-mode: optimizeLegibility;

$size-1: 68px;
$size-2: 30px;
$size-intro: 30px;
$size-p: 18px;
$size-large-label: 24px;
$size-label: 16px;

$height-1: 90px;
$height-2: 40px;
$height-intro: 40px;
$height-p: 20px;
$height-large-label: 30px;
$height-label: 16px;


$weight-light: 300;
$weight-normal: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;