.c-action {
    height: 410px;

    h2 {
        color: $grey;
        font-size: 48px;
        font-weight: $weight-light;
        line-height: 60px;
    }

    &__footer {
        background-color: $grey-dark;
        height: 125px;
    }

    &__item {
        @include grid-column(4);
        padding: 30px;
        height: 410px;
        position: relative;

        &__content {
            bottom: -80px;
            left: 0;
            position: absolute;
            padding: 30px;
            transition: all 1s ease 0s;
            z-index: 4;
        }

        &.-background {
            background-size: contain;
            overflow-y: hidden;

            &:hover {
                &:after {
                    display: block;
                    position: relative;
                    width: calc(100% + 60px);
                    height: calc(100% + 60px);
                    top: -30px;
                    left: -30px;
                    background-image: linear-gradient(180deg, transparent 0%, $purple 100%);
                    content: '';
                    z-index: 1;
                }

                .c-action__item__content {
                    bottom: 0;
                }
            }

            h3 {
                font-family: $font-accent;
                font-weight: $weight-bold;
                letter-spacing: 3px;
                color: $white;
                text-transform: uppercase;
            }

            p {
                color: $white;
            }
        }
    }

    &.-footer-overlay {
        margin-bottom: -125px;
    }
}

body.-pink {
    .c-action__item.-background:hover:after {
        background-image: linear-gradient(180deg, transparent 0%, $pink 100%);
    }
}