.c-breakdown {
    &__collage {
        position: absolute;
        bottom: 60px;
        left: 20px;
        width: 40%;
    }

    &__wrapper {
        @include grid-column(6);
    }

    &__item {
        @include grid-column(6);
        margin-bottom: 75px;

        label {
            display: block;
            font-family: $font-accent;
            letter-spacing: 2px;
            margin: 15px 0 25px;
            text-transform: uppercase;
        }

        img {
            width: 40px;
        }
    }

    &__title {
        @include grid-column(6);
        position: relative;
        padding-right: 100px;
    }

    h3 {
        font-size: 48px;
        line-height: 70px;
    }

    &__image {
        width: 100%;
        margin-top: 100px;
    }
}

body.-purple {
    .c-breakdown {
        h3 {
            color: $purple;
        }

        &__item {
            label {
                color: $purple;
            }
        }
    }
}