.c-breakdown {
    padding-top: 115px;
    overflow-x: hidden;

    @include respond-to("tablet") {
        padding-top: 50px;
    }

    &__title {
        @include grid-column(6);
        position: relative;
        padding-right: 100px;

        @include respond-to("tablet") {
            @include grid-column(12);
            padding-right: 0;
        }
    }

    h3 {
        font-size: 48px;
        line-height: 70px;
    }

    &__collage {
        position: absolute;
        bottom: 60px;
        left: 20px;
        width: 40%;

        @include respond-to("tablet") {
            display: none;
        }
    }

    &__wrapper {
        @include grid-column(6);

        @include respond-to("tablet") {
            @include grid-column(12);
            padding-top: 60px;
        }
    }

    &__item {
        @include grid-column(6);
        margin-bottom: 75px;

        @include respond-to("tablet") {
            @include grid-column(12);
            margin-bottom: 60px;
        }

        label {
            display: block;
            font-family: $font-accent;
            letter-spacing: 2px;
            margin: 15px 0 25px;
            text-transform: uppercase;
        }

        img {
            width: 40px;
        }
    }

    &__image {
        width: 100%;
        margin-top: 100px;

        @include respond-to("tablet") {
            display: none;
        }
    }
}

body.-purple {
    .c-breakdown {
        h3 {
            color: $purple;
        }

        &__item {
            label {
                color: $purple;
            }
        }
    }
}

body.-orange {
    .c-breakdown {
        h3 {
            color: $orange;
        }

        &__item {
            label {
                color: $orange;
            }
        }
    }
}

body.-contrast {
    .c-breakdown {
        h3 {
            color: $grey-darkest !important;
        }

        &__item {
            label {
                color: $grey-darkest !important;
            }

            p {
                color: $grey-darkest !important;
            }
        }
    }
}