.c-button {
    display: inline-block;
    border: 3px solid $grey;
    border-radius: 25px;
    font-size: 16px;
    color: $grey;
    line-height: 20px;
    padding: 10px 54px;
    font-weight: 700;
    letter-spacing: 4px;
    font-family: Barlow Condensed,Barlow,Arial,sans-serif;
    text-transform: uppercase;

    &:hover {
        cursor: pointer;
        text-decoration: none;
    }

    &:focus {
        outline: none;
    }

    &.-outline {
        background: none;
        border: 2px solid $white;
        color: $white;
        padding: 4px 15px;

        &.-deselected {
            border-color: transparent;
            color: $grey-lightest;
        }
    }
}