.c-button {
    display: inline-block;
    border: 3px solid $grey;
    border-radius: 25px;
    font-size: 16px;
    color: $grey;
    line-height: 20px;
    padding: 10px 54px;

    &:hover {
        text-decoration: none;
    }
}