.c-contact {
    &__heading {
        @include font-style(
            $font-accent,                     // Font Family
            $size-4,                          // Font Size
            $purple,                            // Font Color
            $weight-bold,                 // Font Weight
            $height-4                         // Line Height
        );
        letter-spacing: 2px;
        margin-bottom: 0px;
    }

    &__chat {
        @include grid-column(8);

        &__formHeading {
            a {
                @include font-style(
                    $font-normal,                     // Font Family
                    $size-p,                          // Font Size
                    $grey,                            // Font Color
                    $weight-medium,                 // Font Weight
                    $height-p                         // Line Height
                );
                letter-spacing: 2px;
                text-decoration: underline;
                line-height: 48px;
            }
        }
        margin-bottom: 199px;
    }

    &__social {
        @include grid-column(4);

        p {
            @include font-style(
                $font-accent,                     // Font Family
                $size-4,                          // Font Size
                $purple,                            // Font Color
                $weight-bold,                 // Font Weight
                $height-4                         // Line Height
            );
            letter-spacing: 2px;
        }
    }

    &__icons {
        justify-content: start;
    }

    .c-social {
        margin-left: -14px;
    }
}