.c-contact {
    &__heading {
        @include font-style(
            $font-accent,                     // Font Family
            $size-4,                          // Font Size
            $purple,                            // Font Color
            $weight-bold,                 // Font Weight
            $height-4                         // Line Height
        );
        letter-spacing: 2px;
        margin-bottom: 10px;
    }

    &__chat {
        @include grid-column(8);
        margin-bottom: 200px;

        @include respond-to("phone") {
            @include grid-column(12);
            margin-bottom: 40px
        }

        &__formHeading {
            a {
                @include font-style(
                    $font-normal,                     // Font Family
                    $size-p,                          // Font Size
                    $grey,                            // Font Color
                    $weight-medium,                   // Font Weight
                    60px                              // Line Height
                );
                letter-spacing: 2px;
                text-decoration: underline;
            }
        }
    }

    &__social {
        @include grid-column(4);

        @include respond-to("phone") {
            @include grid-column(12);
        }

        p {
            @include font-style(
                $font-accent,                     // Font Family
                $size-4,                          // Font Size
                $purple,                            // Font Color
                $weight-bold,                 // Font Weight
                $height-4                         // Line Height
            );
            letter-spacing: 2px;
        }
    }

    &__icons {
        .c-social__link {
            img {
                max-width: 1.25em;
                max-height: 1.25em;
            }
        }
    }

    .c-social {
        margin-left: -14px;
    }
}