.c-focus {
    position: relative;

    @include respond-to("tablet") {
        overflow-x: hidden;
    }

    &__content {
        position: absolute;
        bottom: -76px;
        left: 0;
        right: 0;
        padding: 0 55px 60px;
        transition: all 0.5s;

        @include respond-to("tablet") {
            padding: 0 30px 45px;
            top: 30px;
            display: flex;
            flex-direction: column;
        }

        .c-button {
            color: $white;
            border-color: $white;
            opacity: 0;
            height: 46px;
            transition: all 0.5s;
            text-transform: uppercase;
            font-weight: $weight-bold;
            letter-spacing: .2em;

            @include respond-to("tablet") {
                width: 100%;
                text-align: center;
            }
        }

        label.-large {
            font-family: $font-accent;
            font-size: 30px;
            letter-spacing: 3px;
            text-transform: uppercase;
            transition: all 0.3s;
        }

        p {
            color: $grey-light;
            font-size: 20px;
            line-height: 30px;
            margin: 14px 0 36px;
            transition: all 0.2s;

            @include respond-to("tablet") {
                flex-grow: 1;
            }
        }
    }

    &__item {
        @include grid-column(6);
        position: relative;
        z-index: 2;
        overflow: hidden;
        border: 4px solid $grey-lightest;

        &:hover {
            label.-large {
                color: $white;
            }

            p {
                color: $white;
            }

            img.-default {
                opacity: 0;
            }

            img.-hover {
                opacity: 1;
            }

            .c-button {
                opacity: 1;
            }

            .c-focus__content {
                bottom: 0;
            }
        }

        img {
            transition: all 0.5s;
            width: 100%;
            display: block;

            &.-hover {
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        @include respond-to("tablet") {
            @include grid-column(12);

            label.-large {
                color: $white;
            }

            p {
                color: $white;
            }

            img.-default {
                opacity: 0;
            }

            img.-hover {
                opacity: 1;
            }

            .c-button {
                opacity: 1;
            }

            .c-focus__content {
                bottom: 0;
            }
        }
    }

    &__overlay {
        background-color: $grey-lightest;
        width: 100%;
        height: 100px;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__image {
        position: absolute;
        width: 207px;
        bottom: -130px;
        right: -65px;
        overflow: hidden;

        &__asset {
            width: 207px;
        }

        @include respond-to("desktop") {
            right: 0;
        }

        @include respond-to("tablet") {
            right: 0;
            width: 142px;
        }
    }
}

body.-purple {
    .c-focus {
        &__item:not(:hover) {
            label.-large {
                color: $purple;

                @include respond-to("tablet") {
                    color: $white;
                }
            }
        }
    }
}

body.-contrast {
    .c-focus {
        &__content {
            p {
                color: $grey-darkest !important;

                @include respond-to("tablet") {
                    color: $white !important;
                }
            }
        }

        &__item:not(:hover) {
            label.-large {
                color: $grey-darkest !important;

                @include respond-to("tablet") {
                    color: $white !important;
                }
            }

            img.-hover {
                @include respond-to("tablet") {
                    opacity: .5 !important;
                }
            }

            @include respond-to("tablet") {
                background-color: $grey-darkest !important;
                margin-bottom: 5px;
            }
        }

        &__item:hover {
            background-color: $grey-darkest !important;

            p {
                color: $white !important;
            }

            img.-hover {
                opacity: .5 !important;
            }
        }
    }
}