.c-footerShapes {
    padding-top: 35px;

    &__image {
        display: block;
        width: 100%;
    }

    &__wavey {
        img {
            width: 100%;
        }
    }
}

body.-interior {
    .c-footerShapes {
        background-color: $grey-lightest;
    }
}