.c-gdpr {
    background-color: $grey-dark;
    border-top: 1px solid $grey-lightest;
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 68px;
    padding: 15px 40px;
    z-index: 500;

    &__actions {
        float: right;
    }

    &__action {
        &__accept {
            &.c-button.-outline {
                padding: 6px 35px;
            }
        }
    }

    &__content {
        display: inline-block;

        .c-logo {
            width: 27px;
            margin-right: 40px;

            @include respond-to("phone") {
                display: none;
            }
        }

        &__text {
            display: inline-block;
            max-width: 340px;
            vertical-align: top;

            a {
                text-decoration: underline;

                &:hover {
                    text-decoration: none;
                }
            }

            a,
            p {
                color: $white;
                font-size: 14px;
                line-height: 16px;
                text-transform: uppercase;
            }
        }
    }
}