.c-header {
    background-color: $grey-lightest;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
    height: calc(100vh - 100px);

    &__text {
        @include grid-column(6);
    }
}

body.-purple {
    .c-header {
        h2 {
            color: $purple;
        }
    }
}