.c-indexFooterShapes {
    padding-top: 100px;

    &__image {
        display: block;
        width: 100%;
    }

    &__wavey {
        @include grid-column(12);
        width: calc(100vw - ((100vw - 1180px)/2));

        img {
            width: 100%;
        }
    }
}