.c-intro {
    p {
        @include font-style(
            $font-normal,                     // Font Family
            $size-3,                          // Font Size
            $grey,                            // Font Color
            $weight-light,                    // Font Weight
            $height-3                         // Line Height
        );

        text-align: center;
        margin: 0 auto;
        padding-top: 100px;
        max-width: 840px;
    };
}