.c-intro {
    &__network{
        @include respond-to("phone") {
            margin-top: -100px;
            margin-bottom: 100px;
        }
    }
    p {
        @include font-style(
            $font-normal,                     // Font Family
            $size-2,                          // Font Size
            $grey,                            // Font Color
            $weight-light,                    // Font Weight
            $height-2                         // Line Height
        );
        text-align: center;
        margin: 0 auto;
        padding: 100px 0 65px;//180px;
        max-width: 820px;

        &.-left{
            @include grid-column(12);
            text-align: left;
            justify-content: start;
            @include respond-to("phone") {
                margin-top: -100px;
            }
        }

        @include respond-to("tablet") {
            margin: 0 25px;
            text-align: left;
        }
    };
}

body.-dark {
    .c-intro {
        p {
            color: $white;
        }
    }
}