.c-intro {
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
        display: block;
        margin-top: 1em;
    }

    @include respond-to("tablet") {
        margin-bottom: 100px;
    }

    &__network{
        @include respond-to("phone") {
            margin-top: -100px;
            margin-bottom: 100px;
        }
    }

    p {
        text-align: center;
        margin-bottom: 2em;
        max-width: 40rem;
    }

    p.intro {
        @include font-style(
            $font-normal,                     // Font Family
            $size-2,                          // Font Size
            $grey,                            // Font Color
            $weight-light,                    // Font Weight
            $height-2                         // Line Height
        );
        text-align: center;
        margin: 0 auto;
        padding: 100px 0 65px;//180px;
        max-width: 40rem;

        a {
            color: $purple;
            text-decoration: underline;

            &:hover {
                color: darken($purple, 15%);
            }
        }

        &.-left{
            @include grid-column(12);
            text-align: left;
            justify-content: start;
            @include respond-to("phone") {
                margin-top: -100px;
            }
        }

        @include respond-to("tablet") {
            margin: 0 25px;
            text-align: left;
        }
    };

    button {
        margin-top: 2em;
    }
}

body.-dark {
    .c-intro {
        p.intro {
            color: $white;
        }
    }
}

body.-contrast:not(.-dark) {
    .c-intro {
        p.intro {
            color: $grey-darkest !important;
        }
    }
}