.c-journal {
    padding: 0 10px;

    &.-category {
        padding: 0 10px 80px;

        @include respond-to("laptop") {
            &::before {
                content: "";
                display: block;
                width: 30px;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                background-image: linear-gradient(to right, rgba(61,60,62,1) 0, rgba(61,60,62,0) 100%);
                z-index: 2;
            }

            &::after {
                content: "";
                display: block;
                width: 30px;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                background-image: linear-gradient(to left, rgba(61,60,62,1) 0, rgba(61,60,62,0) 100%);
                z-index: 2;
            }
        }

        @include respond-to("tablet") {
            padding-bottom: 20px;
        }
    }

    &.-list {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &.-more {
        margin-bottom: 200px;
    }

    &__category {
        background: none;
        border: none;
        outline: none;
        display: inline-block;
        padding: 20px 10px;
        cursor: pointer;

        .c-button {
            white-space: nowrap;

            &.-deselected {
                color: #909093;
            }
        }

        &:hover,
        &:focus {
            .c-button.-deselected {
                border-color: $grey-light;
            }
        }

        &__wrapper {
            display: flex;
            flex-direction: row;
            align-items: stretch;

            @include respond-to("laptop") {
                width: 100%;
                overflow-x: scroll;
            }
        }
    }

    &__more {
        border: none;
        background: none;
        display: block;
        outline: none;
        text-align: center;
        width: 100%;

        .c-button.-outline {
            margin: 20px;
        }

        &:hover,
        &:focus {
            border-color: $grey-light;
        }
    }

    &__post {
        width: 33%;
        padding: 0 10px 80px;

        

        &.-no-results {
            color: $white;
        }

        @include respond-to("tablet") {
            width: 50%;
        }

        @include respond-to("phone") {
            width: 100%;
        }

        &__link {

            &:hover {
                text-decoration: none;
            }

            h2 {
                white-space: pre-line;
                font-weight: $weight-light;
                padding-right: 30px;
            }

            label {
                display: inline-block;
                margin: 20px 0 25px;
                font-family: $font-accent;
                color: #909093;
                font-weight: $weight-bold;
                letter-spacing: 2px;
                text-transform: uppercase;
            }

            img {
                width: 100%;
            }
        }
    }

    &__content {
        @include grid-column(12);
        margin-bottom: 200px;

        @include respond-to("tablet") {
            margin-bottom: 120px;
        }

        @include respond-to("phone") {
            margin-bottom: 60px;
        }

        h1 {
            margin-top: 120px;
        }

        h2 {
            margin-top: 80px;
        }

        h3 {
            margin-top: 60px;
        }

        h4,
        h5,
        h6 {
            margin-top: 30px;
        }

        * + p {
            margin-top: 20px;
        }

        p {
            line-height: 36px;
        }
    }
}

body.-dark {
    .c-header {
        label.-large {
            color: #909093;
        }

        label:not(.-large) {
            display: inline-block;
            margin-top: 20px;
            font-family: $font-accent;
            letter-spacing: 2px;
            color: $grey-darker;
        }
    }

    .c-journal__post {
        h2 {
            color: $white;
        }
    }

    .c-journal__content {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
            color: $white;
        }
    }
}