.c-journal {

    &.-category {
        padding: 0 10px 80px;
    }

    &.-list {
        list-style: none;
    }

    &.-more {
        margin-bottom: 200px;
    }

    &__category {
        display: inline-block;
        padding: 20px 10px;
    }

    &__more {
        text-align: center;

        .c-button.-outline {
            margin: 20px;
        }
    }

    &__post {
        @include grid-column(4);
        padding-bottom: 80px;

        &.-no-results {
            color: $white;
        }

        &__link {

            &:hover {
                text-decoration: none;
            }

            h2 {
                white-space: pre-line;
                font-weight: $weight-light;
            }

            label {
                display: inline-block;
                margin: 20px 0 25px;
                font-family: $font-accent;
                color: $grey-lightest;
                font-weight: $weight-bold;
                letter-spacing: 2px;
                text-transform: uppercase;
            }

            img {
                width: 100%;
            }
        }
    }
}

body.-dark {
    .c-journal__post {
        h2 {
            color: $white;
        }
    }
}