.c-location {
    &__heading {
        @include grid-column(12);
        @include font-style(
            $font-accent,
            $size-4,
            $purple,
            $weight-bold,
            $height-4
        );
        letter-spacing: 2px;
    }

    &__map {
        @include grid-column(12);
        width: calc(100vw - ((100vw - 1180px)/2));

        img {
            width: 100%;
        }
    }

    p {
        white-space: pre-line;
    }

    p+p {
        margin-top: 15px;
    }

    &__address {
        @include grid-column(6);
    }
}