.c-location {
    &__heading {
        @include grid-column(12);
        @include font-style(
            $font-accent,
            $size-4,
            $purple,
            $weight-bold,
            $height-4
        );
        letter-spacing: 2px;
        margin-top: 199px;
        margin-bottom: 41px;

        @include respond-to("phone") {
            @include grid-column(12);
        }
    }
    &__dotGrid {
        position: absolute;
        bottom: -48px;
        left: -34px;
        width:106px;
        z-index: 2;

        @include respond-to("phone") {
            visibility: hidden;
        }
    }
    &__circleWave {
        position: absolute;
        right: 0;
        top: -149px;
        width:406px;
        z-index: 2;

        @include respond-to("phone") {
            visibility: hidden;
        }
    }
    &__map {
        display: inline;
        position: relative;
        z-index: 10;
        img {
            width: 100%;
        }
        @include respond-to("phone") {
            visibility: hidden;
        }
    }
    &__croppedMap {
        display: none;
        @include respond-to("phone") {
            display: inline;
            width: 100vw;
            margin-top:-130px;
            margin-bottom: -100px;
        }
    }

    p {
        white-space: pre-line;
    }

    p+p {
        margin-top: 15px;
    }

    &__address {
        @include grid-column(6);

        @include respond-to("phone") {
            @include grid-column(12);
            margin-bottom: 45px;
        }
    }
}