

.c-mission {
    &__leftCol {
        @include grid-column(6);

        @include respond-to("tablet") {
            @include grid-column(12);
        }
    }

    &__rightCol {
        @include grid-column(6);

        @include respond-to("tablet") {
            @include grid-column(12);
        }
    }

    &__heading {
        @include font-style(
            $font-normal,                     // Font Family
            $size-2,                          // Font Size
            $pink,                            // Font Color
            $weight-semibold,                 // Font Weight
            $height-3                         // Line Height
        );
    }

    &__image {
        margin: 90px 0 0 75px;
        width: 288px;
        height: 198px;

        @include respond-to("tablet") {
            display: none;
        }
    }

    &__section {
        margin: 12px 0 0 80px;

        @include respond-to("tablet") {
            margin: 12px 0 0 0;
        }

        &:not(:last-of-type) {
            margin-bottom: 80px;

            @include respond-to("tablet") {
                margin-top: 70px;
                margin-bottom: 70px;
            }
        }

        &__title {
            margin-bottom: 26px;
            text-transform: uppercase;
            letter-spacing: .24em;
            @include font-style(
                $font-accent,                     // Font Family
                $size-4,                          // Font Size
                $pink,                            // Font Color
                $weight-bold,                     // Font Weight
                $height-4                         // Line Height
            );
        }

        &__body {
            @include font-style(
                $font-normal,                     // Font Family
                $size-p,                          // Font Size
                $grey,                            // Font Color
                $weight-medium,                     // Font Weight
                $height-p                         // Line Height
            );
        }
    }
}

body.-pink {
    .c-mission {
        &__heading, &__title {
            color: $pink;
        }
    }
}