.c-navbar {
    &__logo {
        display: inline-block;
        padding: 36px 36px 20px;
    }

    &__menu {

        &__close {
            padding: 30px 35px;
            position: absolute;
            top: 0;
            right: 0;
        }

        &__coordinates {
            p {
                font-family: $font-accent;
                font-size: 16px;
                font-weight: $weight-bold;
                letter-spacing: 3px;
                line-height: 16px;
                color: $white;
                margin-bottom: 55px;
            }
        }

        &__item {
            @include font-style(
                $font-normal,                     // Font Family
                58px,                             // Font Size
                $white,                           // Font Color
                $weight-light,                    // Font Weight
                100px                             // Line Height
            );
            display: block;
            letter-spacing: 4px;
            height: 100%;
            text-align: center;
            text-decoration: none;
            transition: color 0.5s;

            &:hover {
                color: darken($white, 20%);
                text-decoration: none;

                span.-underline {
                    border-color: darken($white, 20%);
                }
            }

            &.-fill {
                text-align: left;

                &:hover {
                    text-decoration: none;

                    p {
                        color: darken($white, 20%);
                    }
                }

                img {
                    position: absolute;
                    bottom: 30px;
                    left: 30px;
                    width: 25px;
                }

                p {
                    color: $white;
                    font-size: 24px;
                    line-height: 34px;
                    padding: 0 15% 0 0;
                    transition: color 0.5s;
                }
            }

            &.-logo {
                height: 50%;
                line-height: 30px;
                text-align: left;
            }

            span.-index {
                color: $grey-light;
                font-size: 16px;
                letter-spacing: 2px;
                padding-right: 6px;
                line-height: 70px;
                vertical-align: top;
            }

            span.-underline {
                border-bottom: 2px solid transparent;
                transition: border-color 0.5s;
            }
        }

        &__section {
            &.-secondary {
                .c-navbar__menu__item {
                    color: $grey-light;
                    font-size: 20px;
                    line-height: 34px;
                    text-align: left;
                    height: auto;
                    padding: 15px 0;

                    &:hover {
                        color: $white;

                        span.-underline {
                            border-color: $white;
                        }
                    }
                }

                span.-divider {
                    @include font-style(
                        $font-normal,                     // Font Family
                        20px,                             // Font Size
                        $grey-light,                      // Font Color
                        $weight-light,                    // Font Weight
                        10px                              // Line Height
                    );
                }
            }
        }
    }

    &__navigation {
        float: right;

        & > div {
            display: inline-block;
            padding: 36px 36px 20px;
        }
    }
}