.c-navbar {
    background-color: $grey-lightest;

    &__logo {
        display: inline-block;
        padding: 36px 36px 20px;
    }

    &__menu {
        display: none;
    }

    &__navigation {
        float: right;

        & > div {
            display: inline-block;
            padding: 36px 36px 20px;
        }
    }
}