.c-navbar {
    background-color: $grey-lightest;

    &__burger {
        background: none;
        border: none;
        outline: none;
    }

    &__logo {
        display: inline-block;
        padding: 36px 36px 20px;

        @include respond-to("tablet") {
            padding: 15px 20px;
        }
    }

    &__item {
        display: inline-block;
        padding: 30px 36px 20px 68px;
        vertical-align: top;

        @include respond-to("tablet") {
            padding: 20px;
        }

        label {
            text-transform: uppercase;
            letter-spacing: .2em;
            margin-right: 10px;
            position: relative;
            bottom: 5px;
            cursor: pointer;
            @include font-style(
                $font-accent,                     // Font Family
                $size-4,                          // Font Size
                $grey,                            // Font Color
                $weight-bold,                 // Font Weight
                $size-4                         // Line Height
            );

            @include respond-to("tablet") {
                display: none;
            }
        }
    }

    &__contrast {
        position: relative;
        padding-top: 38px;

        @include respond-to("tablet") {
            padding: 32px 36px;
        }

        &__checkbox {
            position: absolute;
            top: -500px;
            cursor: pointer;

            &::before {
                position: absolute;
                top: 531px;
                width: 45px;
                border-radius: 12px;
                content: "";
                border: 2.5px solid $grey;
                height: 24px;
                transition: all .16s ease-in-out;

                @include respond-to("tablet") {
                    top: 519px;
                }
            }

            &::after {
                content: "";
                background-color: $grey;
                position: absolute;
                top: 536px;
                left: 5px;
                height: 14px;
                width: 14px;
                border-radius: 7px;
                transition: all .16s ease-in-out;

                @include respond-to("tablet") {
                    top: 524px;
                }
            }

            &:checked {
                &::before {
                    border-color: $black;
                    background-color: $black;
                }

                &::after {
                    left: 25px;
                    background-color: $white;
                }
            }
        }
    }

    &__menu {
        &__close {
            display: block;
            background: none;
            border: none;
            outline: none;
            padding: 30px 35px;
            position: absolute;
            top: 0;
            right: 0;
        }

        &__coordinates {
            p {
                font-family: $font-accent;
                font-size: 16px;
                font-weight: $weight-bold;
                letter-spacing: 3px;
                line-height: 16px;
                color: $white;
                margin-bottom: 55px;
            }
        }

        &__item {
            @include font-style(
                $font-normal,                     // Font Family
                58px,                             // Font Size
                $white,                           // Font Color
                $weight-light,                    // Font Weight
                100px                             // Line Height
            );
            display: block;
            letter-spacing: 4px;
            height: 100%;
            text-align: center;
            text-decoration: none;
            transition: color 0.5s;

            &:hover {
                color: darken($white, 20%);
                text-decoration: none;

                span.-underline {
                    border-color: darken($white, 20%);
                }
            }

            &.-fill {
                text-align: left;

                &:hover {
                    text-decoration: none;

                    p {
                        color: darken($white, 20%);
                    }
                }

                img {
                    position: absolute;
                    bottom: 30px;
                    left: 30px;
                    width: 25px;
                }

                p {
                    color: $white;
                    font-size: 24px;
                    line-height: 34px;
                    padding: 0 15% 0 0;
                    transition: color 0.5s;
                }
            }

            &.-logo {
                height: 50%;
                line-height: 30px;
                text-align: left;

                @include respond-to("tablet") {
                    position: absolute;
                    top: 0;
                    left: 20px;
                    height: auto;
                }
            }

            @include respond-to("tablet") {
                font-size: 20px;
                line-height: 20px;
                padding: 15px 0;
            }

            span.-index {
                color: $grey-light;
                font-size: 16px;
                letter-spacing: 2px;
                padding-right: 6px;
                line-height: 70px;
                vertical-align: top;

                @include respond-to("tablet") {
                    display: none;
                }
            }

            span.-underline {
                border-bottom: 2px solid transparent;
                transition: border-color 0.5s;
            }
        }

        &__section {
            &.-secondary {
                .c-navbar__menu__item {
                    color: $grey-light;
                    font-size: 20px;
                    line-height: 34px;
                    text-align: left;
                    height: auto;
                    padding: 15px 0;

                    &:hover {
                        color: $white;

                        span.-underline {
                            border-color: $white;
                        }
                    }

                    @include respond-to("tablet") {
                        line-height: 20px;
                        text-align: center;
                    }
                }

                span.-divider {
                    @include font-style(
                        $font-normal,                     // Font Family
                        20px,                             // Font Size
                        $grey-light,                      // Font Color
                        $weight-light,                    // Font Weight
                        10px                              // Line Height
                    );

                    @include respond-to("tablet") {
                        display: none;
                    }
                }
            }
        }
    }

    &__navigation {
        float: right;

        @include respond-to("tablet") {
            margin-top: 4px;
        }
    }
}

body.-dark {
    .c-navbar {
        background-color: $grey-background;

        &__contrast {
            label {
                color: $grey-lightest;
            }

            &__checkbox {
                &::before {
                    border-color: $grey-lightest;
                }

                &::after {
                    background-color: $grey-lightest;
                }

                &:checked {
                    &::before {
                        border-color: $white;
                        background-color: $white;
                    }

                    &::after {
                        left: 25px;
                        background-color: $grey-darkest;
                    }
                }
            }
        }
    }
}