.c-notFound {
    .c-header {
        height: auto;

        .c-header__text {
            @include grid-column(6);
            @include grid-push(3);
            margin-top: 0;
            transform: none;
            text-align: center;

            @include respond-to("tablet") {
                @include grid-column(12);
            }
        }
    }

    .c-cta {
        margin-top: 100px;
        margin-bottom: 0px;

        .c-cta__images{
            display: none;
        }
    }

    &__link {
        @include grid-column(4);

        @include respond-to("phone") {
            @include grid-column(12);
            margin-bottom: 40px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .c-button {
            color: $purple;
            border-color: $purple;
            padding: 8px 35px 8px 35px;
        }

        .c-label {
            font-family: $font-accent;
            letter-spacing: 2px;
            color: $purple;
            text-transform: uppercase;
        }

        p {
            margin: 20px 0px 30px 0px;
        }
    }
}