.c-overview {
    &__intro {
        @include grid-container;
        &__p {
            @include grid-column(8);
            @include font-style(
                $font-normal,                     // Font Family
                $size-2,                          // Font Size
                $grey,                            // Font Color
                $weight-light,                     // Font Weight
                $height-2                         // Line Height
            );

            @include respond-to("tablet") {
                @include grid-column(12);
            }
        }
    }

    &__row {
        margin-top: 45px;
        @include grid-container;

        &__col {
            @include grid-column(6);
            display: block;

            &:first-of-type p {
                padding-right: 25px;
                @include respond-to("tablet") {
                    padding-right: 0;
                }
            }
            &:last-of-type p {
                padding-left: 25px;
                @include respond-to("tablet") {
                    padding-left: 0;
                    padding-top: 20px;
                }
            }

            @include respond-to("tablet") {
                @include grid-column(12);
            }
        }
    }

    &__details {
        margin-top: 70px;
    }

    &__detail {
        @include grid-column(4);

        @include respond-to("tablet") {
            @include grid-column(12);
            & + .c-studioOverview__detail {
                margin-top: 40px;
            }
        }

        &__title {
            text-transform: uppercase;
            letter-spacing: .2em;
            @include font-style(
                $font-accent,                     // Font Family
                $size-4,                          // Font Size
                $orange,                            // Font Color
                $weight-bold,                     // Font Weight
                $height-4                         // Line Height
            );
        }

        &__description {
            margin-top: 15px;
            @include font-style(
                $font-normal,                     // Font Family
                $size-p,                          // Font Size
                $grey-light,                            // Font Color
                $weight-medium,                     // Font Weight
                $height-p                         // Line Height
            );
        }
    }
}