$logo-grid: (
    columns: 12,
    gutter: 7px,
);


.c-partners {
    padding-bottom: 200px;

    &__logos {
        @include grid-container;

        &__item {
            display: block;
            @include grid-column(3, $logo-grid);
            background-color: #EAE9E3;
            margin-bottom: 7px;
            padding: 36px;

            &__image {
                display: block;
                max-width: 100%;
                max-height: 100%;
            }
        }
    }

    &__list {
        margin-top: 200px;

        &__section {
            @include grid-column(4);

            &__heading {
                letter-spacing: .24em;
                text-transform: uppercase;
                margin-bottom: 20px;

                .c-partners__list__section__list + & {
                    margin-top: 108px;
                }

                @include font-style(
                    $font-accent,                     // Font Family
                    $size-4,                          // Font Size
                    $purple,                            // Font Color
                    $weight-bold,                 // Font Weight
                    $height-4                         // Line Height
                );
            }

            &__list {
                list-style: none;
                a {
                    @include font-style(
                        $font-normal,                     // Font Family
                        $size-p,                          // Font Size
                        $grey,                            // Font Color
                        $weight-medium,                 // Font Weight
                        $height-3                         // Line Height
                    );
                }
            }
        }
    }
}