.c-processSlider {
    height: 734px;
    margin-top: 200px;
    margin-bottom: 200px;

    @include respond-to("tablet") {
        margin-top: 100px;
        margin-bottom: 100px;
        height: auto;
        padding-bottom: 200px;
    }

    &.-enterprise {
        height: auto;
        margin-bottom: 180px;

        @include respond-to("tablet") {
            padding-bottom: 90px;
            margin-bottom: 70px;
        }

        .c-processSlider {
            &__count,
            &__controls,
            &__image,
            &__spiral {
                display: none;
            }

            &__triangledots,
            &__quartercircle {
                display: block;
            }

            &__step {
                @include grid-column(6);
                display: block;
                padding: 0 75px 95px;

                &:nth-child(2n+1) {
                    padding-left: 25px;

                    @include respond-to("tablet") {
                        padding: 0;
                    }
                }

                &:nth-child(2n) {
                    padding-right: 25px;

                    @include respond-to("tablet") {
                        padding: 0;
                    }
                }

                @include respond-to("tablet") {
                    @include grid-column(12);
                    padding: 0;
                }

                &__title {
                    font-size: $size-p;
                    line-height: $height-p;
                }
            }

            &__steps {
                @include grid-column(12);
                @include site-container;
                margin-top: 20px;
            }
        }
    }

    &__fill {
        position: absolute;
        z-index: -1;
        background-color: $grey;
        top: 0;
        bottom: 0;
    }


    &__header {
        @include grid-column(12);
        padding: 75px 75px 0;

        @include respond-to("tablet") {
            padding: 100px 0 0;
        }
        &__title {
            @include font-style(
                $font-normal,                     // Font Family
                48px,                          // Font Size
                $orange,                            // Font Color
                $weight-light,                     // Font Weight
                70px                         // Line Height
            );

            @include respond-to("tablet") {
                font-size: 36px;
            }
        }

        &__intro {
            max-width: 850px;
            margin-top: 20px;
            @include font-style(
                $font-normal,                     // Font Family
                $size-2,                          // Font Size
                $white,                            // Font Color
                $weight-light,                     // Font Weight
                $height-2                         // Line Height
            );

            @include respond-to("tablet") {
                font-size: 24px;
            }
        }
    }

    &__content {
        @include grid-container;
        position: relative;
        margin-top: 70px;

        @include respond-to("tablet") {
            margin-top: 35px;
        }
    }

    &__image {
        @include grid-column(6);

        @include respond-to("tablet") {
            @include grid-column(12);
        }

        &__asset {
            position: relative;
            left: 45px;
            top: 25px;
            display: block;
            width: 100%;
            max-width: 415px;
            height: auto;
            @include respond-to("tablet") {
                max-width: 260px;
            }
        }
    }

    &__steps {
        @include grid-column(6);

        @include respond-to("tablet") {
            margin-top: 50px;
            @include grid-column(12);
        }
    }

    &__count {
        position: absolute;
        letter-spacing: .2em;
        @include font-style(
            $font-accent,                     // Font Family
            $size-4,                          // Font Size
            $grey-light,                            // Font Color
            $weight-bold,                 // Font Weight
            $height-4                         // Line Height
        );

        &__current {
            color: $purple
        }
    }

    &__step {
        display: none;

        &.-selected {
            display: block;
        }

        &__title {
            margin-top: 20px;
            @include font-style(
                $font-normal,                     // Font Family
                $size-2,                          // Font Size
                $orange,                          // Font Color
                $weight-semibold,                 // Font Weight
                $height-2                         // Line Height
            );
        }

        &__description {
            margin-top: 20px;
            @include font-style(
                $font-normal,                     // Font Family
                $size-p,                          // Font Size
                $white,                           // Font Color
                $weight-medium,                   // Font Weight
                $height-p                         // Line Height
            );
        }

        &__list {
            margin-top: 20px;
            white-space: pre-line;
            @include font-style(
                $font-normal,                     // Font Family
                $size-p,                          // Font Size
                $grey-light,                      // Font Color
                $weight-medium,                   // Font Weight
                $height-p                         // Line Height
            );
        }
    }

    &__controls {
        position: absolute;
        bottom: -75px;
        height: 45px;
        display: flex;
        align-items: stretch;

        @include respond-to("tablet") {
            bottom: -90px;
        }

        &__button {
            display: block;
            background-color: $purple;
            width: 45px;
            border: none;
            margin-right: 7px;
            transition: background-color .16s ease-in-out;
            @include font-style(
                $font-normal,                       // Font Family
                $size-4,                            // Font Size
                $white,                              // Font Color
                $weight-bold,                     // Font Weight
                $height-4                           // Line Height
            );

            &:hover {
                background-color: lighten($purple, 10%);
                cursor: pointer;
            }

            &:focus {
                outline: none;
            }
        }
    }

    &__quartercircle {
        display: none;
        position: absolute;
        width: 188px;
        right: 0;
        bottom: -213px;

        @include respond-to("tablet") {
            width: 132px;
            right: 30px;
            bottom: -144px;
        }
    }

    &__spiral {
        position: absolute;
        bottom: -83px;
        width: 167px;
        height: 167px;
        right: 0;

        @include respond-to("tablet") {
            width: 86px;
            height: 86px;
            bottom: -43px;
            right: 25px;
        }
    }

    &__triangledots {
        display: none;
        position: absolute;
        width: 130px;
        top: -78px;
        right: 80px;

        @include respond-to("tablet") {
            right: 0;
        }
    }
}

body.-pink {
    .c-processSlider__count__current {
        color: $pink;
    }
    .c-processSlider__quote__name {
        color: $pink;
    }
    .c-processSlider__controls__button {
        background-color: $pink;
    }
    .c-processSlider__controls__zebra__svg path {
        fill: $pink;
    }
}

body.-purple {
    .c-processSlider__count__current {
        color: $purple;
    }
    .c-processSlider__quote__name {
        color: $purple;
    }
    .c-processSlider__controls__button {
        background-color: $purple;
    }
    .c-processSlider__controls__zebra__svg path {
        fill: $purple;
    }
}

body.-orange {
    .c-processSlider__count__current {
        color: $orange;
    }
    .c-processSlider__quote__name {
        color: $orange;
    }
    .c-processSlider__controls__button {
        background-color: $orange;
    }
    .c-processSlider__controls__zebra__svg path {
        fill: $orange;
    }
}

body.-green {
    .c-processSlider__count__current {
        color: $green;
    }
    .c-processSlider__quote__name {
        color: $green;
    }
    .c-processSlider__controls__button {
        background-color: $green;
    }
    .c-processSlider__controls__zebra__svg path {
        fill: $green;
    }
    .c-processSlider__header__title {
        color: $green;
    }
    .c-processSlider__step__title {
        color: $green;
    }
}

body.-contrast {
    .c-processSlider__fill {
        background-color: $grey-darkest;
    }
    .c-processSlider__count__current {
        color: $white !important;
    }
    .c-processSlider__quote__name {
        color: $white !important;
    }
    .c-processSlider__controls__button {
        color: $grey-darkest !important;
        background-color: $white !important;
    }
    .c-processSlider__controls__zebra__svg path {
        fill: $white !important;
    }
    .c-processSlider__header__title {
        color: $white !important;
    }
    .c-processSlider__step__title {
        color: $white !important;
    }
}