.c-processSlider {
    height: 734px;
    margin-top: 200px;
    margin-bottom: 200px;

    @include respond-to("tablet") {
        margin-top: 100px;
        margin-bottom: 100px;
        height: auto;
        padding-bottom: 200px;
    }

    &__fill {
        position: absolute;
        z-index: -1;
        background-color: $grey;
        top: 0;
        bottom: 0;
    }


    &__header {
        padding-top: 75px;
        padding-left: 75px;

        @include respond-to("tablet") {
            padding-top: 100px;
            padding-left: 20px;
        }
        &__title {
            @include font-style(
                $font-normal,                     // Font Family
                48px,                          // Font Size
                $orange,                            // Font Color
                $weight-light,                     // Font Weight
                70px                         // Line Height
            );

            @include respond-to("tablet") {
                font-size: 36px;
            }
        }

        &__intro {
            max-width: 850px;
            margin-top: 20px;
            @include font-style(
                $font-normal,                     // Font Family
                $size-2,                          // Font Size
                $white,                            // Font Color
                $weight-light,                     // Font Weight
                $height-2                         // Line Height
            );

            @include respond-to("tablet") {
                font-size: 24px;
            }
        }
    }

    &__content {
        @include grid-container;
        position: relative;
        margin-top: 70px;

        @include respond-to("tablet") {
            margin-top: 35px;
        }
    }

    &__image {
        @include grid-column(6);

        @include respond-to("tablet") {
            @include grid-column(12);
        }

        &__asset {
            position: relative;
            left: 25px;
            top: 25px;
            display: block;
            width: 100%;
            max-width: 415px;
            height: auto;
            @include respond-to("tablet") {
                max-width: 260px;
            }
        }
    }

    &__steps {
        @include grid-column(6);

        @include respond-to("tablet") {
            margin-top: 50px;
            @include grid-column(12);
        }
    }

    &__count {
        position: absolute;
        letter-spacing: .2em;
        @include font-style(
            $font-accent,                     // Font Family
            $size-4,                          // Font Size
            $grey-light,                            // Font Color
            $weight-bold,                 // Font Weight
            $height-4                         // Line Height
        );

        &__current {
            color: $purple
        }
    }

    &__step {
        display: none;

        &.-selected {
            display: block;
        }

        &__title {
            margin-top: 20px;
            @include font-style(
                $font-normal,                     // Font Family
                $size-2,                          // Font Size
                $orange,                            // Font Color
                $weight-semibold,                 // Font Weight
                $height-2                         // Line Height
            );
        }

        &__description {
            margin-top: 20px;
            @include font-style(
                $font-normal,                     // Font Family
                $size-p,                          // Font Size
                $white,                            // Font Color
                $weight-medium,                 // Font Weight
                $height-p                         // Line Height
            );
        }
    }

    


    &__controls {
        position: absolute;
        bottom: 0;
        height: 45px;
        display: flex;
        align-items: stretch;

        @include respond-to("tablet") {
            bottom: -90px;
        }

        &__button {
            display: block;
            background-color: $purple;
            width: 45px;
            border: none;
            margin-right: 7px;
            transition: background-color .16s ease-in-out;
            @include font-style(
                $font-normal,                       // Font Family
                $size-4,                            // Font Size
                $white,                              // Font Color
                $weight-bold,                     // Font Weight
                $height-4                           // Line Height
            );

            &:hover {
                background-color: lighten($purple, 10%);
                cursor: pointer;
            }

            &:focus {
                outline: none;
            }
        }
    }

    &__spiral {
        position: absolute;
        bottom: -145px;
        width: 167px;
        height: 167px;
        right: 0;

        @include respond-to("tablet") {
            width: 86px;
            height: 86px;
            bottom: -245px;
            right: 25px;
        }
    }
}

body.-pink {
    .c-processSlider__count__current {
        color: $pink;
    }
    .c-processSlider__quote__name {
        color: $pink;
    }
    .c-processSlider__controls__button {
        background-color: $pink;
    }
    .c-processSlider__controls__zebra__svg path {
        fill: $pink
    }
}

body.-purple {
    .c-processSlider__count__current {
        color: $purple;
    }
    .c-processSlider__quote__name {
        color: $purple;
    }
    .c-processSlider__controls__button {
        background-color: $purple;
    }
    .c-processSlider__controls__zebra__svg path {
        fill: $purple
    }
}

body.-orange {
    .c-processSlider__count__current {
        color: $orange;
    }
    .c-processSlider__quote__name {
        color: $orange;
    }
    .c-processSlider__controls__button {
        background-color: $orange;
    }
    .c-processSlider__controls__zebra__svg path {
        fill: $orange
    }
}