.c-social {
    &__link {
        display: inline-block;
        padding: 20px 14px 20px 14px;
        transition: opacity .16s ease-in-out;

        @include respond-to("mobile") {
            width: 20px;
        }

        img {
            max-width: 1em;
            max-height: 1em;
        }

        &:hover {
            opacity: .5;
        }
    }
}