.c-studioPhotos {
    margin-top: 200px;
    position: relative;
    padding: 0 20px;

    @include respond-to("tablet") {
        margin-top: 100px;
        padding: 0;
    }

    &__photo1 {
        width: calc(70% - 30px);
        float: left;
        margin-top: 100px;
        position: relative;
        z-index: 2;
        overflow: hidden;

        img {
            width: calc(100% - 30px);
        }

        @include respond-to("tablet") {
            margin-top: 25px;
            margin-left: 0;
            width: 100%;
            float: none;
            // height: auto;

            img {
                width: 100%;
            }
        }
    }

    &__photo2 {
        width: 30%;
        float: right;
        position: relative;
        overflow: hidden;
        z-index: 2;

        img {
            width: 100%;
        }

        @include respond-to("tablet") {
            display: none;
        }
    }

    &__element1 {
        width: 239px;
        height: 88px;
        bottom: 20px;
        left: 16%;
        position: absolute;
        z-index: 3;

        img {
            width: 100%;
        }

        @include respond-to("tablet") {
            margin-left: 25px;
            left: 0;
            bottom: -44px;
        }
    }

    &__element2 {
        width: 315px;
        height: 315px;
        left: 48%;
        top: 30px;
        position: absolute;
        z-index: 1;

        img {
            width: 315px;
        }

        @include respond-to("tablet") {
            top: -30px;
            left: 55%;
            width: 45%;
            overflow: hidden;
        }
    }

    &__element3 {
        width: 90px;
        height: 330px;
        @include grid-push(10);
        bottom: -194px;
        position: absolute;
        z-index: 3;

        img {
            width: 100%;
        }

        @include respond-to("tablet") {
            display: none;
        }
    }
}