.c-tabset {
    background: $grey-lightest;
    margin-bottom: 200px;

    &.-one {
        .c-tabset__tab {
            width: 100%;
        }
    }

    &.-two {
        .c-tabset__tab {
            width: 50%;

            @include respond-to("phone") {
                width: auto;
            }
        }
    }

    &.-three {
        .c-tabset__tab {
            width: 33%;

            @include respond-to("tablet") {
                width: auto;
            }
        }
    }

    &.-four {
        .c-tabset__tab {
            width: 25%;

            @include respond-to("tablet") {
                width: auto;
            }
        }
    }

    &.-five {
        .c-tabset__tab {
            width: 20%;

            @include respond-to("tablet") {
                width: auto;
            }
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        height: 60px;
        align-items: stretch;
        @include grid-column(12);
    }

    &__tab {
        position: relative;
        display: block;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .2em;
        transition: color .16s ease-in-out;

        @include font-style(
            $font-accent,                     // Font Family
            $size-4,                          // Font Size
            $grey-light,                            // Font Color
            $weight-bold,                     // Font Weight
            60px                         // Line Height
        );

        &:hover {
            text-decoration: none;
            cursor: pointer;
            color: $grey;
        }

        &.-active {
            color: $grey;

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 5px;
                background-color: $purple;
            }
        }
    }

    @include respond-to("tablet") {
        width: 100%;
        position: relative;
        overflow: hidden;
        margin-bottom: 100px;

        &::before {
            content: "";
            display: block;
            width: 30px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(to right, rgba(244,243,237,1) 0, rgba(244,243,237,0) 100%);
            z-index: 2;
        }

        &::after {
            content: "";
            display: block;
            width: 30px;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            background-image: linear-gradient(to left, rgba(244,243,237,1) 0, rgba(244,243,237,0) 100%);
            z-index: 2;
        }

        &__container {
            width: 100%;
        }

        &__wrapper {
            width: 100%;
            float: none;
            overflow: scroll;
            margin-left: 0;
            padding-left: 20px;
        }

        &__tab {
            width: auto;
            white-space:nowrap;

            & + .c-tabset__tab {
                margin-left: 70px;
            }
        }


    }
}

body.-orange {
    .c-tabset__tab.-active::after {
        background-color: $orange;
    }
}

body.-green {
    .c-tabset__tab.-active::after {
        background-color: $green;
    }
}

body.-contrast {
    .c-tabset {
        &__tab {
            color: $grey-darkest !important;

            &.-active::after {
                background-color: $grey-darkest !important;
            }
        }
    }
}