$heading-grid: (
    columns: 12,
    gutter: 0,
);

.c-team {
    margin-top: 100px;
    margin-bottom: 150px;

    @include respond-to("tablet") {
        overflow: hidden;
    }

    &__header {
        margin-bottom: 75px;
        @include grid-column(12);
        @include grid-container;
    }


    &__heading {
        @include font-style(
            $font-normal,                     // Font Family
            $size-2,                          // Font Size
            $pink,                            // Font Color
            $weight-semibold,                 // Font Weight
            $height-3                         // Line Height
        );
    }

    &__description {
        margin-top: 32px;
        @include grid-column(8, $heading-grid);
        @include font-style(
            $font-normal,                     // Font Family
            $size-3,                          // Font Size
            $grey,                            // Font Color
            $weight-normal,                 // Font Weight
            $height-p                         // Line Height
        );

        @include respond-to("tablet") {
            @include grid-column(12, $heading-grid);
        }
    }

    &__topImage {
        position: absolute;
        top: -6px;
        right: -70px;
        width: 225px;
        height: 225px;

        &__asset {
            width: 225px;
            height: 225px;
        }

        @include respond-to("tablet") {
            right: 0;
            top: -180px;
            width: 85px;
            overflow: hidden;
        }
    }

    &__bottomImage {
        position: absolute;
        bottom: -90px;
        right: -70px;
        width: 198px;
        height: 200px;
    }

    &__list {
        position: relative;
        z-index: 1;
        @include grid-container;
    }

    &__member {
        @include grid-column(4);
        margin-bottom: 40px;
        position: relative;
        overflow: hidden;

        @include respond-to("tablet") {
            @include grid-column(6);
        }

        &__name {
            margin-top: 15px;
            display: block;
            @include font-style(
                $font-normal,                     // Font Family
                $size-3,                          // Font Size
                $grey,                            // Font Color
                $weight-normal,                     // Font Weight
                $height-p                         // Line Height
            );

            @include respond-to("tablet") {
                line-height: 20px;
                font-size: 18px;
            }
        }

        &__title {
            margin-top: 5px;
            text-transform: uppercase;
            letter-spacing: .2em;
            display: block;
            @include font-style(
                $font-accent,                     // Font Family
                $size-4,                          // Font Size
                $grey-light,                            // Font Color
                $weight-bold,                     // Font Weight
                20px                         // Line Height
            );

            @include respond-to("tablet") {
                line-height: 18px;
                font-size: 14px;
            }
        }

        &__photo {
            display: block;
            width: 100%;
            height: 100%;

        }
    }
}

body.-pink {
    .c-team {
        &__heading, &__list__item label {
            color: $pink;
        }
    }
}

body.-contrast {
    .c-team {
        &__heading, &__description, &__member__name, &__member__title {
            color: $grey-darkest !important;
        }
    }
}