.c-testimonials {
    position: relative;
    height: 530px;
    margin-bottom: 65px;
    margin-top: 200px;

    @include respond-to("tablet") {
        height: 866px;
        margin-top: 0;
        margin-bottom: 0;
    }

    &__companies {
        @include grid-column(6);
        height: 530px;
        position: relative;

        @include respond-to("tablet") {
            @include grid-column(12);
            position: absolute;
            margin-left: 0;
            margin-right: 0;
            width: 100%;
            height: 866px;
        }
    }

    &__content {
        @include grid-column(6);
        height: 530px;
        position: relative;
        z-index: 2;

        @include respond-to("tablet") {
            @include grid-column(12);
            position: absolute;
            margin-left: 0;
            margin-right: 0;
            width: 100%;
            height: 866px;
        }
    }


    &__count {
        position: absolute;
        letter-spacing: .2em;
        top: 50px;
        @include font-style(
            $font-accent,                     // Font Family
            $size-4,                          // Font Size
            $grey-light,                            // Font Color
            $weight-bold,                 // Font Weight
            $height-4                         // Line Height
        );

        &__current {
            color: $purple
        }

        @include respond-to("tablet") {
            display: none;
        }
    }

    &__logos {
        position: absolute;
        bottom: 70px;
        height: 60px;
        width: 100%;
        padding-right: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;

        @include respond-to("tablet") {
             bottom: auto;
             top: 100px;
             left: 25px;
             width: auto;
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;

        &__image {
            max-height: 50px;
            max-width: 150px;
        }

        &.-selected {
            width: 230px;
        }

        @include respond-to("tablet") {
            display: none;

            &.-selected {
                display: block;
            }
        }
    }

    &__images {
        position: absolute;
        z-index: 1;
        height: 530px;
        width: 230px;
        right: 30px;
        background-color: $grey-dark;
        display: flex;
        flex-direction: row;

        @include respond-to("tablet") {
            height: 866px;
            width: 100%;
            right: 0;
            left: 0;
        }
    }

    &__image {
        position: relative;
        max-width: 230px;
        max-height: 530px;
        display: none;

        &.-selected {
            display: block;
        }

        @include respond-to("tablet") {
            width: 100%;
            height: 100%;
            max-height: 866px;
            max-width: 100%;
        }
    }

    &__quotes {
        margin-top: 50px;

        @include respond-to("tablet") {
            margin-top: 342px;
            margin-left: 25px;
            margin-right: 25px;
        }
    }

    &__quote {
        display: none;

        &.-selected {
            display: block;
        }

        &__name {
            text-transform: uppercase;
            letter-spacing: .2em;
            @include font-style(
                $font-accent,                       // Font Family
                $size-4,                            // Font Size
                $purple,                            // Font Color
                $weight-bold,                       // Font Weight
                $height-4                           // Line Height
            );

            @include respond-to("tablet") {
                color: $white;
            }
        }

        &__title {
            display: block;
            margin-top: 8px;
            @include font-style(
                $font-normal,                       // Font Family
                $size-p,                            // Font Size
                $grey-light,                        // Font Color
                $weight-medium,                     // Font Weight
                $height-p                           // Line Height
            );

            @include respond-to("tablet") {
                color: $white;
            }
        }

        &__body {
            position: relative;
            display: block;
            margin-top: 60px;
            @include font-style(
                $font-normal,                       // Font Family
                $size-3,                            // Font Size
                $grey,                              // Font Color
                $weight-medium,                     // Font Weight
                $height-p                           // Line Height
            );

            &::before {
                content: "\"";
                position: absolute;
                left: -.3em;
            }
            &::after {
                content: "\"";
            }

            @include respond-to("tablet") {
                color: $white;
                margin-top: 45px;
                line-height: 36px;
            }
        }
    }


    &__controls {
        position: absolute;
        bottom: 50px;
        height: 45px;
        width: 100%;
        display: flex;
        align-items: stretch;

        @include respond-to("tablet") {
            left: 25px;
            display: block;
            bottom: 140px;
            width: calc(100% - 25px);
        }

        &__button {
            display: block;
            background-color: $purple;
            width: 45px;
            height: 45px;
            border: none;
            margin-right: 7px;
            transition: background-color .16s ease-in-out;
            @include font-style(
                $font-normal,                       // Font Family
                $size-4,                            // Font Size
                $white,                              // Font Color
                $weight-bold,                     // Font Weight
                $height-4                           // Line Height
            );

            &:hover {
                background-color: lighten($purple, 10%);
                cursor: pointer;
            }

            &:focus {
                outline: none;
            }

            @include respond-to("tablet") {
                float: left;
            }
        }

        &__zebra {
            flex-grow: 1;
            overflow: hidden;

            @include respond-to("tablet") {
                height: 45px;
                flex-grow: 0;
                width: calc(100% - 104px);
                position: absolute;
                left: 104px;

                &__svg {
                    width: 442px;
                }
            }
        }
    }
}

body.-pink {
    .c-testimonials__count__current {
        color: $pink;
    }
    .c-testimonials__quote__name {
        color: $pink;

        @include respond-to("tablet") {
            color: $white;
        }
    }
    .c-testimonials__controls__button {
        background-color: $pink;
    }
    .c-testimonials__controls__zebra__svg path {
        fill: $pink
    }
}

body.-purple {
    .c-testimonials__count__current {
        color: $purple;
    }
    .c-testimonials__quote__name {
        color: $purple;

        @include respond-to("tablet") {
            color: $white;
        }
    }
    .c-testimonials__controls__button {
        background-color: $purple;
    }
    .c-testimonials__controls__zebra__svg path {
        fill: $purple
    }
}

body.-orange {
    .c-testimonials__count__current {
        color: $orange;
    }
    .c-testimonials__quote__name {
        color: $orange;

        @include respond-to("tablet") {
            color: $white;
        }
    }
    .c-testimonials__controls__button {
        background-color: $orange;
    }
    .c-testimonials__controls__zebra__svg path {
        fill: $orange
    }
}

body.-contrast {
    .c-testimonials__count {
        color: $grey-darkest !important;
    }
    .c-testimonials__count__current {
        color: $grey-darkest !important;
    }
    .c-testimonials__quote__name {
        color: $grey-darkest !important;

        @include respond-to("tablet") {
            color: $white !important;
        }
    }
    .c-testimonials__quote__title {
        color: $grey-darkest !important;

        @include respond-to("tablet") {
            color: $white !important;
        }
    }
    .c-testimonials__controls__button {
        background-color: $grey-darkest !important;
    }
    .c-testimonials__controls__zebra__svg path {
        fill: $grey-darkest !important;
    }
}