.c-upstartLogos {
    margin-top: 100px;

    @include respond-to("tablet") {
        margin-bottom: 100px;
    }

    &__heading {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .2em;
        @include font-style(
            $font-accent,                       // Font Family
            $size-4,                            // Font Size
            $orange,                              // Font Color
            $weight-bold,                     // Font Weight
            $height-4                           // Line Height
        );
    }

    &__logo {
        @include grid-column(3);
        height: 40px;
        margin-top: 40px;

        @include respond-to("tablet") {
            @include grid-column(6);
        }

        &__image {
            max-height: 100%;
            max-width: 140px;
            margin: 0 auto;
            display: block;
        }
    }
}

body.-contrast {
    .c-upstartLogos {
        &__heading {
            color: $grey-darkest !important;
        }
    }
}