

.c-ventures {
    margin-top: 150px;
    list-style: none;

    @include respond-to("tablet") {
        margin-top: 75px;
        padding-bottom: 50px;
    }

    &__venture {
        @include grid-column(4);
        height: 340px;
        margin-bottom: 20px;

        @include respond-to("lg-laptop") {
            height: 300px;
        }

        @include respond-to("tablet") {
            @include grid-column(6);
            height: 240px;
        }

        @include respond-to("phone") {
            @include grid-column(6);
            height: 200px;
        }
        

        &__link {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 100%;
            background-color: #EAE9E3;
            padding: 30px;
            transition: background-color .16s ease-in-out;

            &:hover {
                background-color: darken(#EAE9E3, 10%);

                .c-ventures__venture__asset {
                    opacity: .5;
                }
            }
        }

        &__asset {
            width: 100%;
            max-width: 220px;
            transition: opacity .16s ease-in-out;
        }
    }
}

body.-pink {
    .c-mission {
        &__heading, &__title {
            color: $pink;
        }
    }
}